.full-width {
    width: 100%;
  }
  
  .form-container {
    padding: 20px;
    max-width: 100%;
    margin: auto;
    margin-left: 40px; 
    margin-right: 40px;
}

.header-text {
  font-weight: 600; 
  font-size: 28px; 
  letter-spacing: 1.5px; 
  color: #2C3E50; 
  text-transform: uppercase; 
  text-align: center; 
  padding: 10px 0;
  border-bottom: 3px solid #45B9A8;
  display: inline-block;
}

  mat-form-field{
    margin-bottom: 10px;
  }
  
  .select-details-container {
    display: flex;
    gap: 30px;
    width: 100%;
  }

  .select-details-input {
    flex: 0 1 50%;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px; 
  }
  
  .submit-btn {
    height: 50px;
    width: 220px;
    border-radius: 25px;
    font-size: 15px;
    background-color: #f1f1f1;
    color: #45B9A8;
  }