<div style="margin-bottom: 20px;">
    <div style="font-weight: bold; font-size: x-large; padding-top: 10px;">Playback</div>
    <div style="padding-top: 5px;">{{tracker.deviceName}}</div>
    <div style="margin-top: 10px;">
        <div style="font-size: large; text-align: center;">Start Time: {{startTime}}</div>
        <div style="margin-top: 5px;font-size: large;text-align: center">End Time  : {{endTime}}</div>
    </div>
    <button mat-stroked-button color="primary" class="top-right-corner" (click)="stopPlayback()">Stop Playback</button>
</div>