
<div style="display: flex; justify-content: space-between; align-items: center;">
  <h1 class="header-text">Users</h1>
  <button mat-raised-button color="primary" class="top-right-corner" (click)="createUser()"  *appHasRole="['CompanyAdmin']">
    <mat-icon>person_add</mat-icon> Add a User
  </button>
</div>


<div style="display: flex; gap: 20px">
  <mat-form-field class="small" appearance="outline">
    <mat-label>User / User Id</mat-label>
    <input matInput type="text" (keyup)="applyFilter($event, 'UserName')" />
  </mat-form-field>
  <mat-form-field class="small" appearance="outline">
    <mat-label>Customer</mat-label>
    <input matInput type="text" (keyup)="applyFilter($event, 'Customer')"  />
  </mat-form-field>
</div>

<div *ngIf="loading" class="loading-overlay">
  <div class="loading-content">
    <mat-progress-spinner
      mode="indeterminate"
      diameter="60"
      color="primary"
    ></mat-progress-spinner>
    <p>Loading trackers, please wait...</p>
  </div>
</div>

<div *ngIf="!loading">
  <div class="sort-container" style="display: flex; justify-content: end; align-items: center;">
    <mat-form-field appearance="outline" class="small-input">
      <mat-select [(value)]="sortOrder" (selectionChange)="sortData()" panelClass="custom-dropdown-panel" [panelWidth]="'300px'" hideSingleSelectionIndicator>
        <mat-option value="asc">Sort By</mat-option>
        <mat-option *ngFor="let option of sortOptions" [value]="option.value">
          <mat-pseudo-checkbox [state]="sortOrder === option.value ? 'checked' : 'unchecked'"></mat-pseudo-checkbox>
          {{ option.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-card class="card">
    <div class="table-container">
      <table mat-table [dataSource]="dataSource">
        
        <ng-container *ngFor="let column of displayedColumns">
          <ng-container *ngIf="column !== 'Actions'">
            <ng-container [matColumnDef]="column">
              <th mat-header-cell *matHeaderCellDef style="font-weight: bold">
                {{ column }}
              </th>
              <td mat-cell *matCellDef="let emp"
                  [ngStyle]="column === 'LimitReached' ? { 'color': emp[column] ? 'red' : 'black'} : {}">
                  {{emp[column]}}
              </td>
            </ng-container>
          </ng-container>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="Actions">
          <th mat-header-cell *matHeaderCellDef style="font-weight: bold">
            Actions
          </th>
          <td mat-cell *matCellDef="let emp">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Delete</button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-card>

  <!-- Paginator -->
  <mat-paginator
    [pageSize]="pageSize"
    [pageSizeOptions]="[1, 5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
